In [5]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv('renthop2.csv')

In [7]:
df

,url,address,neighborhood,rent,beds,baths
0,https://www.renthop.com/listings/84th-street/3...,84th Street,"Upper West Side, Upper Manhattan, Manhattan","$2,350.00",1_Bed,1_Bath
1,https://www.renthop.com/listings/e-14th-st/4br...,E 14th St.,"Gramercy Park, Midtown Manhattan, Manhattan","$6,495.00",4_Bed,1.5_Bath
2,https://www.renthop.com/listings/w-69th-st/4/1...,W 69th St.,"Lincoln Square, Upper West Side, Upper Manhatt...","$2,900.00",1_Bed,1_Bath
3,https://www.renthop.com/listings/355-south-end...,"355 South End Avenue, Apt 4J","Battery Park City, Downtown Manhattan, Manhattan","$5,748.00",2_Bed,2_Bath
4,https://www.renthop.com/listings/river-road/na...,river road,"Roosevelt Island, Manhattan","$5,800.00",4_Bed,2_Bath
5,https://www.renthop.com/listings/215-w-75th-st...,"215 W 75th St, Apt 16/A","Upper West Side, Upper Manhattan, Manhattan","$5,600.00",2_Bed,1_Bath
6,https://www.renthop.com/listings/227-east-96th...,227 East 96th Street,"East Harlem, Upper Manhattan, Manhattan","$1,995.00",Studio,1_Bath
7,https://www.renthop.com/listings/924-myrtle-av...,"924 Myrtle Ave, Apt 3B","Bedford-Stuyvesant, Northern Brooklyn, Brooklyn","$1,965.00",Studio,1_Bath
8,https://www.renthop.com/listings/east-85th-str...,East 85th Street,"Yorkville, Upper East Side, Upper Manhattan, M...","$1,985.00",Studio,1_Bath
9,https://www.renthop.com/listings/financial-dis...,Financial District,"Financial District, Downtown Manhattan, Manhattan","$2,331.00",Studio,1_Bath
10,https://www.renthop.com/listings/east-69th-st-...,East 69th St & 2nd Ave,"Upper East Side, Upper Manhattan, Manhattan","$3,695.00",2_Bed,2_Bath
11,https://www.renthop.com/listings/queens-street...,Queens Street,"Long Island City, Northwestern Queens, Queens","$3,340.00",2_Bed,1_Bath
12,https://www.renthop.com/listings/864-nostrand-...,"864 Nostrand Avenue, Apt 2","Crown Heights, Central Brooklyn, Brooklyn","$2,899.00",3_Bed,1_Bath
13,https://www.renthop.com/listings/202-e-13th-st...,"202 E 13th St., Apt 5G","East Village, Downtown Manhattan, Manhattan","$5,495.00",2_Bed,2_Bath
14,https://www.renthop.com/listings/57th-st/407/1...,57th St,"Hell's Kitchen, Midtown Manhattan, Manhattan","$2,746.00",1_Bed,1_Bath
15,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn","$2,488.00",Studio,1_Bath
16,https://www.renthop.com/listings/church-st/0/1...,Church St.,"Tribeca, Downtown Manhattan, Manhattan","$8,995.00",5_Bed,2_Bath
17,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn","$5,335.00",2_Bed,2_Bath
18,https://www.renthop.com/listings/queens-plaza-...,Queens Plaza North,"Long Island City, Northwestern Queens, Queens","$2,599.00",1_Bed,1_Bath
19,https://www.renthop.com/listings/ashland-place...,Ashland Place,"Fort Greene, Northwestern Brooklyn, Brooklyn","$2,764.00",Studio,1_Bath
20,https://www.renthop.com/listings/208-west-99th...,208 West 99th Street,"Manhattan Valley, Upper West Side, Upper Manha...","$3,493.00",2_Bed,1_Bath
21,https://www.renthop.com/listings/57th-st/407/1...,57th St,"Hell's Kitchen, Midtown Manhattan, Manhattan","$2,746.00",1_Bed,1_Bath
22,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn","$2,488.00",Studio,1_Bath
23,https://www.renthop.com/listings/church-st/0/1...,Church St.,"Tribeca, Downtown Manhattan, Manhattan","$8,995.00",5_Bed,2_Bath
24,https://www.renthop.com/listings/145-attorney-...,"145 Attorney St., Apt 1B","Lower East Side, Downtown Manhattan, Manhattan","$9,895.00",Studio,2.5_Bath
25,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn","$5,335.00",2_Bed,2_Bath
26,https://www.renthop.com/listings/queens-plaza-...,Queens Plaza North,"Long Island City, Northwestern Queens, Queens","$2,599.00",1_Bed,1_Bath
27,https://www.renthop.com/listings/ashland-place...,Ashland Place,"Fort Greene, Northwestern Brooklyn, Brooklyn","$2,764.00",Studio,1_Bath
28,https://www.renthop.com/listings/allen-street/...,Allen Street,"Lower East Side, Downtown Manhattan, Manhattan","$3,200.00",2_Bed,1_Bath
29,https://www.renthop.com/listings/250-broome-st...,"250 Broome Street, Apt 7A18","Cooperative Village, Lower East Side, Downtown...","$2,246.00",2_Bed,1_Bath
30,https://www.renthop.com/listings/east-6th-st/3...,East 6th St,"East Village, Downtown Manhattan, Manhattan","$4,212.00",2_Bed,1_Bath
31,https://www.renthop.com/listings/west-19th-str...,West 19th Street,"Chelsea, Midtown Manhattan, Manhattan","$4,800.00",2_Bed,1_Bath
32,https://www.renthop.com/listings/90-thompson-s...,"90 Thompson St, Apt E4","SoHo, Downtown Manhattan, Manhattan","$5,750.00",3_Bed,1_Bath
33,https://www.renthop.com/listings/battery-place...,Battery Place,"Battery Park City, Downtown Manhattan, Manhattan","$3,495.00",1_Bed,1_Bath
34,https://www.renthop.com/listings/west-60s/2717...,West 60's,"Lincoln Square, Upper West Side, Upper Manhatt...","$8,350.00",2_Bed,2_Bath
35,https://www.renthop.com/listings/505-w-37th-st...,"505 W 37th Street, Apt 2209","Hell's Kitchen, Midtown Manhattan, Manhattan","$5,980.00",2_Bed,2_Bath
36,https://www.renthop.com/listings/w-21st-st/6-c...,W 21st St,"Chelsea, Midtown Manhattan, Manhattan","$3,850.00",1_Bed,1_Bath
37,https://www.renthop.com/listings/e-63rd-st/30f...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan","$5,500.00",2_Bed,2_Bath
38,https://www.renthop.com/listings/north-9th-st/...,North 9th St,"Williamsburg, Northern Brooklyn, Brooklyn","$3,470.00",1_Bed,1_Bath
39,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan","$4,000.00",4_Bed,1_Bath
40,https://www.renthop.com/listings/e-63rd-st/30f...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan","$5,500.00",2_Bed,2_Bath
41,https://www.renthop.com/listings/north-9th-st/...,North 9th St,"Williamsburg, Northern Brooklyn, Brooklyn","$3,470.00",1_Bed,1_Bath
42,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan","$4,000.00",4_Bed,1_Bath
43,https://www.renthop.com/listings/e-63rd-st/416...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan","$5,500.00",2_Bed,1_Bath
44,https://www.renthop.com/listings/steinway-stre...,Steinway Street,"Steinway, Astoria, Northwestern Queens, Queens","$2,600.00",2_Bed,1_Bath
45,https://www.renthop.com/listings/10th-ave/29/1...,10th Ave.,"Hell's Kitchen, Midtown Manhattan, Manhattan","$6,000.00",4_Bed,2_Bath
46,https://www.renthop.com/listings/e-15th-st/3r/...,E 15th St,"Gramercy Park, Midtown Manhattan, Manhattan","$6,000.00",2_Bed,1_Bath
47,https://www.renthop.com/listings/west-60s/1608...,West 60's,"Lincoln Square, Upper West Side, Upper Manhatt...","$6,890.00",3_Bed,2_Bath
48,https://www.renthop.com/listings/harrison-stre...,Harrison Street,"Tribeca, Downtown Manhattan, Manhattan","$6,695.00",4_Bed,2_Bath
49,https://www.renthop.com/listings/washington-st...,Washington St.,"DUMBO, Northwestern Brooklyn, Brooklyn","$3,643.00",1_Bed,1_Bath
50,https://www.renthop.com/listings/cpw/4s/12963319,Cpw,"Lincoln Square, Upper West Side, Upper Manhatt...","$20,000.00",5_Bed,4.5_Bath
51,https://www.renthop.com/listings/e-17th-st/0/1...,E 17th St.,"Flatiron District, Midtown Manhattan, Manhattan","$10,000.00",5_Bed,2_Bath
52,https://www.renthop.com/listings/center-blvd/n...,Center Blvd,"Hunters Point, Long Island City, Northwestern ...","$2,235.00",Studio,1_Bath
53,https://www.renthop.com/listings/gold-street/n...,Gold Street,"Downtown Brooklyn, Northwestern Brooklyn, Broo...","$3,250.00",1_Bed,1_Bath
54,https://www.renthop.com/listings/east-76th-str...,East 76th Street,"Upper East Side, Upper Manhattan, Manhattan","$2,800.00",1_Bed,1_Bath
55,https://www.renthop.com/listings/east-2nd-stre...,East 2nd Street,"Alphabet City, East Village, Downtown Manhatta...","$3,095.00",1_Bed,1_Bath
56,https://www.renthop.com/listings/e-87th-st/12b...,E 87th St.,"Yorkville, Upper East Side, Upper Manhattan, M...","$7,000.00",3_Bed,2_Bath
57,https://www.renthop.com/listings/east-2nd-stre...,East 2nd Street,"Alphabet City, East Village, Downtown Manhatta...","$3,250.00",Studio,1_Bath
58,https://www.renthop.com/listings/orchard-stree...,Orchard Street,"Lower East Side, Downtown Manhattan, Manhattan","$3,438.00",2_Bed,1_Bath
59,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn","$4,825.00",2_Bed,2_Bath

In [8]:
df['beds'].unique()

array(['1_Bed', '4_Bed', '2_Bed', 'Studio', '3_Bed', '5_Bed'],
      dtype=object)

In [9]:
df['baths'].unique()

array(['1_Bath', '1.5_Bath', '2_Bath', '2.5_Bath', '4.5_Bath'],
      dtype=object)

In [10]:
df['beds'] = df['beds'].map(lambda x: x[1:] if x.startswith('_') else x)
df['baths'] = df['baths'].map(lambda x: x[1:] if x.startswith('_') else x)

In [11]:
df['beds'].unique()

array(['1_Bed', '4_Bed', '2_Bed', 'Studio', '3_Bed', '5_Bed'],
      dtype=object)

In [12]:
df['baths'].unique()

array(['1_Bath', '1.5_Bath', '2_Bath', '2.5_Bath', '4.5_Bath'],
      dtype=object)

In [13]:
df.describe()

,url,address,neighborhood,rent,beds,baths
count,60,60,60,60,60,60
unique,49,47,29,48,6,5
top,https://www.renthop.com/listings/kent-avenue/1...,E 63rd St.,"Williamsburg, Northern Brooklyn, Brooklyn","$5,500.00",2_Bed,1_Bath
freq,3,3,5,3,21,39

In [14]:
df.columns

Index(['url', 'address', 'neighborhood', 'rent', 'beds', 'baths'], dtype='object')

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
rent = df['rent']

In [17]:
rent.head(5)

0    $2,350.00
1    $6,495.00
2    $2,900.00
3    $5,748.00
4    $5,800.00
Name: rent, dtype: object

In [18]:
df['rent'] = df['rent'].map(lambda x: str(x).replace('$','').replace(',','')).astype('float').astype('int')
df['beds'] = df['beds'].map(lambda x: str(x).replace('_Bed', ''))
df['beds'] = df['beds'].map(lambda x: x.replace('Studio', '0'))
df['beds'] = df['beds'].map(lambda x: x.replace('Loft', '0')).astype('int')
df['baths'] = df['baths'].map(lambda x: str(x).replace('_Bath', '')).astype('float')

In [19]:
df.head(5)

,url,address,neighborhood,rent,beds,baths
0,https://www.renthop.com/listings/84th-street/3...,84th Street,"Upper West Side, Upper Manhattan, Manhattan",2350,1,1.0
1,https://www.renthop.com/listings/e-14th-st/4br...,E 14th St.,"Gramercy Park, Midtown Manhattan, Manhattan",6495,4,1.5
2,https://www.renthop.com/listings/w-69th-st/4/1...,W 69th St.,"Lincoln Square, Upper West Side, Upper Manhatt...",2900,1,1.0
3,https://www.renthop.com/listings/355-south-end...,"355 South End Avenue, Apt 4J","Battery Park City, Downtown Manhattan, Manhattan",5748,2,2.0
4,https://www.renthop.com/listings/river-road/na...,river road,"Roosevelt Island, Manhattan",5800,4,2.0

In [20]:
df.dtypes

url              object
address          object
neighborhood     object
rent              int64
beds              int64
baths           float64
dtype: object

In [21]:
df.groupby('neighborhood')['rent'].count().to_frame('count').sort_values(by='count', ascending=False)

                                                   count
neighborhood
Williamsburg, Northern Brooklyn, Brooklyn              5
Upper East Side, Upper Manhattan, Manhattan            5
Lincoln Square, Upper West Side, Upper Manhatt...      4
Hell's Kitchen, Midtown Manhattan, Manhattan           4
East Village, Downtown Manhattan, Manhattan            4
Tribeca, Downtown Manhattan, Manhattan                 3
Lower East Side, Downtown Manhattan, Manhattan         3
Long Island City, Northwestern Queens, Queens          3
Alphabet City, East Village, Downtown Manhatta...      2
Fort Greene, Northwestern Brooklyn, Brooklyn           2
Upper West Side, Upper Manhattan, Manhattan            2
Battery Park City, Downtown Manhattan, Manhattan       2
Gramercy Park, Midtown Manhattan, Manhattan            2
Chelsea, Midtown Manhattan, Manhattan                  2
Brooklyn Heights, Northwestern Brooklyn, Brooklyn      2
Yorkville, Upper East Side, Upper Manhattan, M...      2
Flatiron District, Midtown Manhattan, Manhattan        1
Financial District, Downtown Manhattan, Manhattan      1
East Harlem, Upper Manhattan, Manhattan                1
Hunters Point, Long Island City, Northwestern ...      1
Downtown Brooklyn, Northwestern Brooklyn, Broo...      1
DUMBO, Northwestern Brooklyn, Brooklyn                 1
Crown Heights, Central Brooklyn, Brooklyn              1
Manhattan Valley, Upper West Side, Upper Manha...      1
Roosevelt Island, Manhattan                            1
SoHo, Downtown Manhattan, Manhattan                    1
Steinway, Astoria, Northwestern Queens, Queens         1
Cooperative Village, Lower East Side, Downtown...      1
Bedford-Stuyvesant, Northern Brooklyn, Brooklyn        1

In [22]:
df[df['neighborhood'].str.contains('Upper East Side')]['neighborhood'].value_counts()

Upper East Side, Upper Manhattan, Manhattan          5
Yorkville, Upper East Side, Upper Manhattan, M...    2
Name: neighborhood, dtype: int64

In [23]:
df['neighborhood'] = df['neighborhood'].map(lambda x: x.strip())

In [24]:
df.groupby('neighborhood')['rent'].mean().to_frame('mean').sort_values(by='mean', ascending=False)

                                                           mean
neighborhood
Flatiron District, Midtown Manhattan, Manhattan    10000.000000
Lincoln Square, Upper West Side, Upper Manhatt...   9535.000000
Tribeca, Downtown Manhattan, Manhattan              8228.333333
Gramercy Park, Midtown Manhattan, Manhattan         6247.500000
Roosevelt Island, Manhattan                         5800.000000
SoHo, Downtown Manhattan, Manhattan                 5750.000000
Lower East Side, Downtown Manhattan, Manhattan      5511.000000
Battery Park City, Downtown Manhattan, Manhattan    4621.500000
Upper East Side, Upper Manhattan, Manhattan         4599.000000
Yorkville, Upper East Side, Upper Manhattan, M...   4492.500000
Williamsburg, Northern Brooklyn, Brooklyn           4487.000000
East Village, Downtown Manhattan, Manhattan         4426.750000
Hell's Kitchen, Midtown Manhattan, Manhattan        4368.000000
Chelsea, Midtown Manhattan, Manhattan               4325.000000
Upper West Side, Upper Manhattan, Manhattan         3975.000000
DUMBO, Northwestern Brooklyn, Brooklyn              3643.000000
Manhattan Valley, Upper West Side, Upper Manha...   3493.000000
Downtown Brooklyn, Northwestern Brooklyn, Broo...   3250.000000
Alphabet City, East Village, Downtown Manhatta...   3172.500000
Crown Heights, Central Brooklyn, Brooklyn           2899.000000
Long Island City, Northwestern Queens, Queens       2846.000000
Fort Greene, Northwestern Brooklyn, Brooklyn        2764.000000
Steinway, Astoria, Northwestern Queens, Queens      2600.000000
Brooklyn Heights, Northwestern Brooklyn, Brooklyn   2488.000000
Financial District, Downtown Manhattan, Manhattan   2331.000000
Cooperative Village, Lower East Side, Downtown...   2246.000000
Hunters Point, Long Island City, Northwestern ...   2235.000000
East Harlem, Upper Manhattan, Manhattan             1995.000000
Bedford-Stuyvesant, Northern Brooklyn, Brooklyn     1965.000000

In [25]:
%store
df

Stored variables and their in-db values:

,url,address,neighborhood,rent,beds,baths
0,https://www.renthop.com/listings/84th-street/3...,84th Street,"Upper West Side, Upper Manhattan, Manhattan",2350,1,1.0
1,https://www.renthop.com/listings/e-14th-st/4br...,E 14th St.,"Gramercy Park, Midtown Manhattan, Manhattan",6495,4,1.5
2,https://www.renthop.com/listings/w-69th-st/4/1...,W 69th St.,"Lincoln Square, Upper West Side, Upper Manhatt...",2900,1,1.0
3,https://www.renthop.com/listings/355-south-end...,"355 South End Avenue, Apt 4J","Battery Park City, Downtown Manhattan, Manhattan",5748,2,2.0
4,https://www.renthop.com/listings/river-road/na...,river road,"Roosevelt Island, Manhattan",5800,4,2.0
5,https://www.renthop.com/listings/215-w-75th-st...,"215 W 75th St, Apt 16/A","Upper West Side, Upper Manhattan, Manhattan",5600,2,1.0
6,https://www.renthop.com/listings/227-east-96th...,227 East 96th Street,"East Harlem, Upper Manhattan, Manhattan",1995,0,1.0
7,https://www.renthop.com/listings/924-myrtle-av...,"924 Myrtle Ave, Apt 3B","Bedford-Stuyvesant, Northern Brooklyn, Brooklyn",1965,0,1.0
8,https://www.renthop.com/listings/east-85th-str...,East 85th Street,"Yorkville, Upper East Side, Upper Manhattan, M...",1985,0,1.0
9,https://www.renthop.com/listings/financial-dis...,Financial District,"Financial District, Downtown Manhattan, Manhattan",2331,0,1.0
10,https://www.renthop.com/listings/east-69th-st-...,East 69th St & 2nd Ave,"Upper East Side, Upper Manhattan, Manhattan",3695,2,2.0
11,https://www.renthop.com/listings/queens-street...,Queens Street,"Long Island City, Northwestern Queens, Queens",3340,2,1.0
12,https://www.renthop.com/listings/864-nostrand-...,"864 Nostrand Avenue, Apt 2","Crown Heights, Central Brooklyn, Brooklyn",2899,3,1.0
13,https://www.renthop.com/listings/202-e-13th-st...,"202 E 13th St., Apt 5G","East Village, Downtown Manhattan, Manhattan",5495,2,2.0
14,https://www.renthop.com/listings/57th-st/407/1...,57th St,"Hell's Kitchen, Midtown Manhattan, Manhattan",2746,1,1.0
15,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn",2488,0,1.0
16,https://www.renthop.com/listings/church-st/0/1...,Church St.,"Tribeca, Downtown Manhattan, Manhattan",8995,5,2.0
17,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn",5335,2,2.0
18,https://www.renthop.com/listings/queens-plaza-...,Queens Plaza North,"Long Island City, Northwestern Queens, Queens",2599,1,1.0
19,https://www.renthop.com/listings/ashland-place...,Ashland Place,"Fort Greene, Northwestern Brooklyn, Brooklyn",2764,0,1.0
20,https://www.renthop.com/listings/208-west-99th...,208 West 99th Street,"Manhattan Valley, Upper West Side, Upper Manha...",3493,2,1.0
21,https://www.renthop.com/listings/57th-st/407/1...,57th St,"Hell's Kitchen, Midtown Manhattan, Manhattan",2746,1,1.0
22,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn",2488,0,1.0
23,https://www.renthop.com/listings/church-st/0/1...,Church St.,"Tribeca, Downtown Manhattan, Manhattan",8995,5,2.0
24,https://www.renthop.com/listings/145-attorney-...,"145 Attorney St., Apt 1B","Lower East Side, Downtown Manhattan, Manhattan",9895,0,2.5
25,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn",5335,2,2.0
26,https://www.renthop.com/listings/queens-plaza-...,Queens Plaza North,"Long Island City, Northwestern Queens, Queens",2599,1,1.0
27,https://www.renthop.com/listings/ashland-place...,Ashland Place,"Fort Greene, Northwestern Brooklyn, Brooklyn",2764,0,1.0
28,https://www.renthop.com/listings/allen-street/...,Allen Street,"Lower East Side, Downtown Manhattan, Manhattan",3200,2,1.0
29,https://www.renthop.com/listings/250-broome-st...,"250 Broome Street, Apt 7A18","Cooperative Village, Lower East Side, Downtown...",2246,2,1.0
30,https://www.renthop.com/listings/east-6th-st/3...,East 6th St,"East Village, Downtown Manhattan, Manhattan",4212,2,1.0
31,https://www.renthop.com/listings/west-19th-str...,West 19th Street,"Chelsea, Midtown Manhattan, Manhattan",4800,2,1.0
32,https://www.renthop.com/listings/90-thompson-s...,"90 Thompson St, Apt E4","SoHo, Downtown Manhattan, Manhattan",5750,3,1.0
33,https://www.renthop.com/listings/battery-place...,Battery Place,"Battery Park City, Downtown Manhattan, Manhattan",3495,1,1.0
34,https://www.renthop.com/listings/west-60s/2717...,West 60's,"Lincoln Square, Upper West Side, Upper Manhatt...",8350,2,2.0
35,https://www.renthop.com/listings/505-w-37th-st...,"505 W 37th Street, Apt 2209","Hell's Kitchen, Midtown Manhattan, Manhattan",5980,2,2.0
36,https://www.renthop.com/listings/w-21st-st/6-c...,W 21st St,"Chelsea, Midtown Manhattan, Manhattan",3850,1,1.0
37,https://www.renthop.com/listings/e-63rd-st/30f...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan",5500,2,2.0
38,https://www.renthop.com/listings/north-9th-st/...,North 9th St,"Williamsburg, Northern Brooklyn, Brooklyn",3470,1,1.0
39,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan",4000,4,1.0
40,https://www.renthop.com/listings/e-63rd-st/30f...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan",5500,2,2.0
41,https://www.renthop.com/listings/north-9th-st/...,North 9th St,"Williamsburg, Northern Brooklyn, Brooklyn",3470,1,1.0
42,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan",4000,4,1.0
43,https://www.renthop.com/listings/e-63rd-st/416...,E 63rd St.,"Upper East Side, Upper Manhattan, Manhattan",5500,2,1.0
44,https://www.renthop.com/listings/steinway-stre...,Steinway Street,"Steinway, Astoria, Northwestern Queens, Queens",2600,2,1.0
45,https://www.renthop.com/listings/10th-ave/29/1...,10th Ave.,"Hell's Kitchen, Midtown Manhattan, Manhattan",6000,4,2.0
46,https://www.renthop.com/listings/e-15th-st/3r/...,E 15th St,"Gramercy Park, Midtown Manhattan, Manhattan",6000,2,1.0
47,https://www.renthop.com/listings/west-60s/1608...,West 60's,"Lincoln Square, Upper West Side, Upper Manhatt...",6890,3,2.0
48,https://www.renthop.com/listings/harrison-stre...,Harrison Street,"Tribeca, Downtown Manhattan, Manhattan",6695,4,2.0
49,https://www.renthop.com/listings/washington-st...,Washington St.,"DUMBO, Northwestern Brooklyn, Brooklyn",3643,1,1.0
50,https://www.renthop.com/listings/cpw/4s/12963319,Cpw,"Lincoln Square, Upper West Side, Upper Manhatt...",20000,5,4.5
51,https://www.renthop.com/listings/e-17th-st/0/1...,E 17th St.,"Flatiron District, Midtown Manhattan, Manhattan",10000,5,2.0
52,https://www.renthop.com/listings/center-blvd/n...,Center Blvd,"Hunters Point, Long Island City, Northwestern ...",2235,0,1.0
53,https://www.renthop.com/listings/gold-street/n...,Gold Street,"Downtown Brooklyn, Northwestern Brooklyn, Broo...",3250,1,1.0
54,https://www.renthop.com/listings/east-76th-str...,East 76th Street,"Upper East Side, Upper Manhattan, Manhattan",2800,1,1.0
55,https://www.renthop.com/listings/east-2nd-stre...,East 2nd Street,"Alphabet City, East Village, Downtown Manhatta...",3095,1,1.0
56,https://www.renthop.com/listings/e-87th-st/12b...,E 87th St.,"Yorkville, Upper East Side, Upper Manhattan, M...",7000,3,2.0
57,https://www.renthop.com/listings/east-2nd-stre...,East 2nd Street,"Alphabet City, East Village, Downtown Manhatta...",3250,0,1.0
58,https://www.renthop.com/listings/orchard-stree...,Orchard Street,"Lower East Side, Downtown Manhattan, Manhattan",3438,2,1.0
59,https://www.renthop.com/listings/kent-avenue/1...,Kent Avenue,"Williamsburg, Northern Brooklyn, Brooklyn",4825,2,2.0

In [26]:
import googlemaps

In [32]:
gmaps = googlemaps.Client(key='API_KEY')

In [28]:
ta = df.loc[3,['address']].values[0] + ' '+ df.loc[3,['neighborhood']].values[0].split(', ')[-1]

In [29]:
ta

'355 South End Avenue, Apt 4J Manhattan'

In [30]:
type(ta)

str

In [33]:
geocode_result = gmaps.geocode(ta)

In [34]:
geocode_result

[{'address_components': [{'long_name': '4J',
    'short_name': '4J',
    'types': ['subpremise']},
   {'long_name': '355', 'short_name': '355', 'types': ['street_number']},
   {'long_name': 'South End Avenue',
    'short_name': 'South End Ave',
    'types': ['route']},
   {'long_name': 'Manhattan',
    'short_name': 'Manhattan',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'New York',
    'short_name': 'New York',
    'types': ['locality', 'political']},
   {'long_name': 'New York County',
    'short_name': 'New York County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '10280', 'short_name': '10280', 'types': ['postal_code']}],
  'formatted_address': '355 South End Ave #4J, New York, NY 10280, USA',
  'geometry': {'location': {'lat': 40.7109037, 'lng': -74.01662329999999},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 40.7122526802915,
     'lng': -74.01527431970848},
    'southwest': {'lat': 40.7095547197085, 'lng': -74.01797228029149}}},
  'place_id': 'Ei4zNTUgU291dGggRW5kIEF2ZSAjNEosIE5ldyBZb3JrLCBOWSAxMDI4MCwgVVNBIh4aHAoWChQKEgm1M--QGlrCiRHPztxnTZeHLhICNEo',
  'types': ['subpremise']}]

In [35]:
for piece in geocode_result[0]['address_components']:
    if 'postal_code' in piece['types'] :
        print(piece['short_name'])

10280

In [36]:
for piece in geocode_result[0]['address_components']:
    if 'postal_code' in piece['types']:
        print(piece['short_name'])

10280

In [37]:
import re
def get_zip(row):
    try:
        addy = row['address'] + ' ' + row['neighborhood'].split(', ')[-1]
        print(addy)
        if re.match('^\d+\s\w', addy):
            geocode_result = gmaps.geocode(addy)
            for piece in geocode_result[0]['address_components']:
                if 'postal_code' in piece['types']:
                    return piece['short_name']
                else:
                    pass
        else:
            return np.nan
    except:
        return np.nan

In [38]:
df['zip'] = df.apply(get_zip, axis=1)

84th Street Manhattan
E 14th St. Manhattan
W 69th St. Upper Manhatt...
355 South End Avenue, Apt 4J Manhattan
river road Manhattan
215 W 75th St, Apt 16/A Manhattan
227 East 96th Street Manhattan
924 Myrtle Ave, Apt 3B Brooklyn
East 85th Street M...
Financial District Manhattan
East 69th St & 2nd Ave Manhattan
Queens Street Queens
864 Nostrand Avenue, Apt 2 Brooklyn
202 E 13th St., Apt 5G Manhattan
57th St Manhattan
43 Columbia Pl, Apt 1B Brooklyn
Church St. Manhattan
Kent Avenue Brooklyn
Queens Plaza North Queens
Ashland Place Brooklyn
208 West 99th Street Upper Manha...
57th St Manhattan
43 Columbia Pl, Apt 1B Brooklyn
Church St. Manhattan
145 Attorney St., Apt 1B Manhattan
Kent Avenue Brooklyn
Queens Plaza North Queens
Ashland Place Brooklyn
Allen Street Manhattan
250 Broome Street, Apt 7A18 Downtown...
East 6th St Manhattan
West 19th Street Manhattan
90 Thompson St, Apt E4 Manhattan
Battery Place Manhattan
West 60's Upper Manhatt...
505 W 37th Street, Apt 2209 Manhattan
W 21st St Manhattan
E 63rd St. Manhattan
North 9th St Brooklyn
1 ave and 14 st Manhattan
E 63rd St. Manhattan
North 9th St Brooklyn
1 ave and 14 st Manhattan
E 63rd St. Manhattan
Steinway Street Queens
10th Ave. Manhattan
E 15th St Manhattan
West 60's Upper Manhatt...
Harrison Street Manhattan
Washington St. Brooklyn
Cpw Upper Manhatt...
E 17th St. Manhattan
Center Blvd Northwestern ...
Gold Street Broo...
East 76th Street Manhattan
East 2nd Street Downtown Manhatta...
E 87th St. M...
East 2nd Street Downtown Manhatta...
Orchard Street Manhattan
Kent Avenue Brooklyn

In [39]:
df[df['zip'].notnull()].count()

url             15
address         15
neighborhood    15
rent            15
beds            15
baths           15
zip             15
dtype: int64

In [41]:
df.to_csv('apts_with_zip.csv')

In [42]:
zdf = df[df['zip'].notnull()].copy()

In [45]:
zdf_mean = zdf.groupby('zip')['rent'].mean().to_frame('avg_rent').sort_values(by='avg_rent', ascending=False).reset_index()
zdf_mean

      zip  avg_rent
0   10002    6070.5
1   10018    5980.0
2   10012    5750.0
3   10280    5748.0
4   10023    5600.0
5   10003    5495.0
6   10009    4000.0
7   10025    3493.0
8   11225    2899.0
9   11201    2488.0
10  10128    1995.0
11  11206    1965.0

In [50]:
zdf.head()

,url,address,neighborhood,rent,beds,baths,zip
3,https://www.renthop.com/listings/355-south-end...,"355 South End Avenue, Apt 4J","Battery Park City, Downtown Manhattan, Manhattan",5748,2,2.0,10280
5,https://www.renthop.com/listings/215-w-75th-st...,"215 W 75th St, Apt 16/A","Upper West Side, Upper Manhattan, Manhattan",5600,2,1.0,10023
6,https://www.renthop.com/listings/227-east-96th...,227 East 96th Street,"East Harlem, Upper Manhattan, Manhattan",1995,0,1.0,10128
7,https://www.renthop.com/listings/924-myrtle-av...,"924 Myrtle Ave, Apt 3B","Bedford-Stuyvesant, Northern Brooklyn, Brooklyn",1965,0,1.0,11206
12,https://www.renthop.com/listings/864-nostrand-...,"864 Nostrand Avenue, Apt 2","Crown Heights, Central Brooklyn, Brooklyn",2899,3,1.0,11225

In [51]:
import patsy
import statsmodels.api as sm

In [52]:
f = 'rent ~ zip + beds'
y, X = patsy.dmatrices(f, zdf, return_type='dataframe')

In [53]:
results = sm.OLS(y, X).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   rent   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.471e+28
Date:                Wed, 10 Jun 2020   Prob (F-statistic):           6.80e-29
Time:                        01:20:27   Log-Likelihood:                 363.89
No. Observations:                  15   AIC:                            -701.8
Df Residuals:                       2   BIC:                            -692.6
Df Model:                          12
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept     9895.0000   1.93e-11   5.13e+14      0.000    9895.000    9895.000
zip[T.10003]  3249.0000   2.73e-11   1.19e+14      0.000    3249.000    3249.000
zip[T.10009]  9403.0000   4.53e-11   2.08e+14      0.000    9403.000    9403.000
zip[T.10012]  7328.5000   3.61e-11   2.03e+14      0.000    7328.500    7328.500
zip[T.10018]  3734.0000   2.73e-11   1.37e+14      0.000    3734.000    3734.000
zip[T.10023]  3354.0000   2.73e-11   1.23e+14      0.000    3354.000    3354.000
zip[T.10025]  1247.0000   2.73e-11   4.57e+13      0.000    1247.000    1247.000
zip[T.10128] -7900.0000   2.73e-11  -2.89e+14      0.000   -7900.000   -7900.000
zip[T.10280]  3502.0000   2.73e-11   1.28e+14      0.000    3502.000    3502.000
zip[T.11201] -7407.0000   2.36e-11  -3.13e+14      0.000   -7407.000   -7407.000
zip[T.11206] -7930.0000   2.73e-11   -2.9e+14      0.000   -7930.000   -7930.000
zip[T.11225]  4477.5000   3.61e-11   1.24e+14      0.000    4477.500    4477.500
beds         -3824.5000   1.36e-11   -2.8e+14      0.000   -3824.500   -3824.500
==============================================================================
Omnibus:                        3.088   Durbin-Watson:                   0.837
Prob(Omnibus):                  0.214   Jarque-Bera (JB):                1.635
Skew:                           0.808   Prob(JB):                        0.441
Kurtosis:                       3.089   Cond. No.                         37.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
y

      rent
3   5748.0
5   5600.0
6   1995.0
7   1965.0
12  2899.0
13  5495.0
15  2488.0
20  3493.0
22  2488.0
24  9895.0
29  2246.0
32  5750.0
35  5980.0
39  4000.0
42  4000.0

In [55]:
X

,Intercept,zip[T.10003],zip[T.10009],zip[T.10012],zip[T.10018],zip[T.10023],zip[T.10025],zip[T.10128],zip[T.10280],zip[T.11201],zip[T.11206],zip[T.11225],beds
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
13,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
32,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
35,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
39,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
42,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [56]:
zdf.sort_values(by='zip')

,url,address,neighborhood,rent,beds,baths,zip
24,https://www.renthop.com/listings/145-attorney-...,"145 Attorney St., Apt 1B","Lower East Side, Downtown Manhattan, Manhattan",9895,0,2.5,10002
29,https://www.renthop.com/listings/250-broome-st...,"250 Broome Street, Apt 7A18","Cooperative Village, Lower East Side, Downtown...",2246,2,1.0,10002
13,https://www.renthop.com/listings/202-e-13th-st...,"202 E 13th St., Apt 5G","East Village, Downtown Manhattan, Manhattan",5495,2,2.0,10003
39,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan",4000,4,1.0,10009
42,https://www.renthop.com/listings/1-ave-and-14-...,1 ave and 14 st,"East Village, Downtown Manhattan, Manhattan",4000,4,1.0,10009
32,https://www.renthop.com/listings/90-thompson-s...,"90 Thompson St, Apt E4","SoHo, Downtown Manhattan, Manhattan",5750,3,1.0,10012
35,https://www.renthop.com/listings/505-w-37th-st...,"505 W 37th Street, Apt 2209","Hell's Kitchen, Midtown Manhattan, Manhattan",5980,2,2.0,10018
5,https://www.renthop.com/listings/215-w-75th-st...,"215 W 75th St, Apt 16/A","Upper West Side, Upper Manhattan, Manhattan",5600,2,1.0,10023
20,https://www.renthop.com/listings/208-west-99th...,208 West 99th Street,"Manhattan Valley, Upper West Side, Upper Manha...",3493,2,1.0,10025
6,https://www.renthop.com/listings/227-east-96th...,227 East 96th Street,"East Harlem, Upper Manhattan, Manhattan",1995,0,1.0,10128
3,https://www.renthop.com/listings/355-south-end...,"355 South End Avenue, Apt 4J","Battery Park City, Downtown Manhattan, Manhattan",5748,2,2.0,10280
15,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn",2488,0,1.0,11201
22,https://www.renthop.com/listings/43-columbia-p...,"43 Columbia Pl, Apt 1B","Brooklyn Heights, Northwestern Brooklyn, Brooklyn",2488,0,1.0,11201
7,https://www.renthop.com/listings/924-myrtle-av...,"924 Myrtle Ave, Apt 3B","Bedford-Stuyvesant, Northern Brooklyn, Brooklyn",1965,0,1.0,11206
12,https://www.renthop.com/listings/864-nostrand-...,"864 Nostrand Avenue, Apt 2","Crown Heights, Central Brooklyn, Brooklyn",2899,3,1.0,11225

In [57]:
X.head()

,Intercept,zip[T.10003],zip[T.10009],zip[T.10012],zip[T.10018],zip[T.10023],zip[T.10025],zip[T.10128],zip[T.10280],zip[T.11201],zip[T.11206],zip[T.11225],beds
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0

In [98]:
to_pred_idx = X.iloc[0].index
to_pred_zeros = np.zeros(len(to_pred_idx))
tpdf = pd.DataFrame(to_pred_zeros, index=to_pred_idx, columns=['value'])

tpdf

              value
Intercept       0.0
zip[T.10003]    0.0
zip[T.10009]    0.0
zip[T.10012]    0.0
zip[T.10018]    0.0
zip[T.10023]    0.0
zip[T.10025]    0.0
zip[T.10128]    0.0
zip[T.10280]    0.0
zip[T.11201]    0.0
zip[T.11206]    0.0
zip[T.11225]    0.0
beds            0.0

In [99]:
tpdf.loc['Intercept'] = 1
tpdf.loc['beds'] = 1
tpdf.loc['zip[T.10009]'] = 1

In [100]:
tpdf

              value
Intercept       1.0
zip[T.10003]    0.0
zip[T.10009]    1.0
zip[T.10012]    0.0
zip[T.10018]    0.0
zip[T.10023]    0.0
zip[T.10025]    0.0
zip[T.10128]    0.0
zip[T.10280]    0.0
zip[T.11201]    0.0
zip[T.11206]    0.0
zip[T.11225]    0.0
beds            1.0

In [101]:
results.predict(tpdf['value'].to_frame().T)

value    15473.5
dtype: float64

In [102]:
tpdf['value'] = 0

tpdf

              value
Intercept         0
zip[T.10003]      0
zip[T.10009]      0
zip[T.10012]      0
zip[T.10018]      0
zip[T.10023]      0
zip[T.10025]      0
zip[T.10128]      0
zip[T.10280]      0
zip[T.11201]      0
zip[T.11206]      0
zip[T.11225]      0
beds              0

In [103]:
tpdf.loc['Intercept'] = 1
tpdf.loc['beds'] = 2
tpdf.loc['zip[T.10009]'] = 1

In [64]:
tpdf

              value
Intercept         1
zip[T.10003]      0
zip[T.10009]      1
zip[T.10012]      0
zip[T.10018]      0
zip[T.10023]      0
zip[T.10025]      0
zip[T.10128]      0
zip[T.10280]      0
zip[T.11201]      0
zip[T.11206]      0
zip[T.11225]      0
beds              2

In [104]:
results.predict(tpdf['value'].to_frame().T)

value    11649.0
dtype: float64

In [105]:
tpdf

              value
Intercept         1
zip[T.10003]      0
zip[T.10009]      1
zip[T.10012]      0
zip[T.10018]      0
zip[T.10023]      0
zip[T.10025]      0
zip[T.10128]      0
zip[T.10280]      0
zip[T.11201]      0
zip[T.11206]      0
zip[T.11225]      0
beds              2

In [106]:
tpdf['value'] = 0
tpdf.loc['Intercept'] = 1
tpdf.loc['beds'] = 2
tpdf.loc['zip[T.11201]'] = 1

In [107]:
tpdf

              value
Intercept         1
zip[T.10003]      0
zip[T.10009]      0
zip[T.10012]      0
zip[T.10018]      0
zip[T.10023]      0
zip[T.10025]      0
zip[T.10128]      0
zip[T.10280]      0
zip[T.11201]      1
zip[T.11206]      0
zip[T.11225]      0
beds              2

In [109]:
results.predict(tpdf['value'].to_frame().T)

value   -5161.0
dtype: float64